.custom-bg {
    background-color: #202020;
}

.form_container {
    width: 700px;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .form_container {
        width: 65%;
    }
}

.navBg {
    background-color: #202020;
}

.navBg2 {
    background-color: #202020;
}

.custom-bg-color {
    background-color: #202020;
}

.custom-left-bg-color {
    background-color: #e0e0e0;
}

.carousel img {
    height: auto;
}

.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

input[type=radio] {
    display: none;
}

.star {
    cursor: pointer;
    height: 40px;
    padding: 5px;
}

.centered-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    /* Ajusta la altura según tus necesidades */
}

.centered-image {
    /* max-width: 100%; */
    height: auto;
    margin: 0 auto;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 100px; */
}

.sub-titulo{
    max-width: 650px;
    text-align: center;
}

.d-grid{
    padding-top: 5px;
}

.drapDropCard{
    padding: 10px;
    box-shadow: 0 0 5px #ffdfdf25;
    border-radius: 5px;
    overflow: hidden;
}

.drapDropCard .dragDropTop{
    text-align: center;
}

.drapDropCard p{
    font-weight: bold;
    color: #ffffff;
}

.drapDropCard .drag-area{
    height: 150px;
    border-radius: 5px;
    border: 2px dashed #0086fe;
    color: #0086fe;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 10px;
}

.drapDropCard .drag-area .visible{
    font-size: 18px;
}

.drapDropCard .select{
    color: #5256ad;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.drapDropCard .select:hover{
    opacity: 0.6;
}

.drapDropCard .dragDrogContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.drapDropCard .dragDrogContainer .dragDrop-Image{
    width: 75px;
    margin-right: 5px;
    height: 75px;
    position: relative;
    margin-bottom: 8px;
}

.drapDropCard .dragDrogContainer .dragDrop-Image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.drapDropCard .dragDrogContainer .dragDrop-Image span{
    position: absolute;
    top: -2px;
    right: 9px;
    font-size: 20px;
    cursor: pointer;
}

.drapDropCard input,
.drapDropCard .drag-area .on-drop,
.drapDropCard .drag-area.dragover .visible{
    display: none;
}

.delete{
    z-index: 999;
    color: #0086fe;
}